.container{
  text-align: center;
  padding: 100px;
  border-radius: 5px;
  background: #979797;
  width: 400px;
  height: 450px;

}

.button{
  display: block;
  background: #313030;
  padding: 10px 10px;
  text-align: center;
  background-color: #FFFFFF;
  font-size: 30px;
  color: #F10000;
  width: 60px;
  height: 60px;

}

.table-equal{
  background: #313030;
  text-align: center;
  background-color: #FFFFFF;
  width: 240px;
  height: 60px;
  clear: both;
}

.table-container{
  margin: auto;
  display: block;
  background-color: green;
  padding: 15px 15px;
  border-radius: 10px;
  width: 300px;
  height: 350px;

}

#resul{
  display:block;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  width: 300px;
  height: 80px;
  line-height: 100px;
  background: #FFFFFF;
  border-radius: 30px;



}
